# Local Supabase Postgres connection string
DATABASE_URL=
DIRECT_URL=

# Get from `supabase status` output
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Local dev server URL (use ngrok for NEXT_PUBLIC_APP_URL when testing webhooks)
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_APP_URL=

# Will be provided
BILLPLZ_API_SECRET_KEY=
BILLPLZ_API_URL=
BILLPLZ_X_SIGNATURE_KEY=
BILLPLZ_COLLECTION_ID=

# development | staging | production
NEXT_PUBLIC_APP_ENV=
